.a_project {
    .hero_img {
        display: block;
        border: 4px solid $color__gray;
        margin-bottom: 2em;
    }
    .project__thumbs {
        display: block;
        border: 4px solid $color__gray;
        margin: 0 auto 2em auto;
    }
}