.resume {
    section {
        margin-top: 1em;
        margin-bottom: 1em;
    }

    h2, .dates {
        color: $color__fitz;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }

    h3 {
        @include font-size(1.125);
        font-style: italic;
    }

    a {
        border-top: 1px solid $color__gray;
        padding-top: 0.5em;
        margin-top: 1em;
        display: inline-block;
    }
}