@import 'https://fonts.googleapis.com/css?family=Lato';

$color__fitz: #465058;
$color__gray: #EEEEEE;

body {
    font-family: 'Lato', sans-serif;
    border-top: 6px solid $color__fitz;
}

body.home {
    border: 6px solid $color__fitz;
    height: 100%;
    width: 100%;
}

a {
    color: $color__fitz;
    font-weight: bold;
    &:hover, &:active, &:focus {
        color: $color__fitz;
        text-decoration: none;
    }
}

.sticky-page {
    height: 100%;
}

.sticky-wrap {
    min-height: 100%;
    margin-bottom: -40px;
    &:after {
        content: "";
        display: block;
        height: 40px;
    }
}

#logo {
    width: 100%;
    padding-top: 15px;
}

@import "nav";
@import "footer";
@import "media_queries";