.DS_Store
.env
.idea/
node_modules/
bower_components/
local/cache/*
local/storage/*
local/temp/*
installer.php
phpunit.xml

# Theme NPM Modules
 site/themes/redwood/node_modules/
 site/themes/fitz/node_modules/
