<header>
    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-6">
            LOGO HERE
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
            <ul>
                {{ nav from="/" include_home="true" scope="tag" }}
                <li{{ if is_current or is_parent }} class="active"{{ /if }}>
                <a href="{{ url }}">{{ tag:nav_title or title }}</a>
                </li>
                {{ /nav }}
            </ul>
        </div>
    </div>
</header>

<section>
    <div class="row">
        <div class="col-md-12">
            {{ content }}
        </div>
    </div>
</section>

<footer>
    <div class="row">
        <div class="col-md-6 push-md-6 text-md-right text-xs-center">
            <ul>
                <li>
                    <a href="">
                        <svg class="footer-icon">
                            <use xlink:href="/site/themes/fitz/svg/sprite.svg#twitter"></use>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="">
                        <svg class="footer-icon">
                            <use xlink:href="/site/themes/fitz/svg/sprite.svg#linkedin"></use>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="">
                        <svg class="footer-icon">
                            <use xlink:href="/site/themes/fitz/svg/sprite.svg#github"></use>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="">
                        <svg class="footer-icon">
                            <use xlink:href="/site/themes/fitz/svg/sprite.svg#codepen"></use>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="">
                        <svg class="footer-icon">
                            <use xlink:href="/site/themes/fitz/svg/sprite.svg#dribbble"></use>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="">
                        <svg class="footer-icon">
                            <use xlink:href="/site/themes/fitz/svg/sprite.svg#instagram"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-md-6 pull-md-6 text-md-left text-xs-center">&copy; Fitz Creative, LLC. {{ current_date format='Y' }}</div>
    </div>
</footer>
