<div class="container projects">

    <div class="row">
        <div class="col-xs-12 text-xs-center">
            <h1>{{ title }}</h1>
        </div>
    </div>

    {{ collection:projects limit="6" paginate="true" as="posts" }}

        {{ posts }}
            {{ if index|%:2 == 1 || index == 0 }}<div class="row">{{ endif }}
                <div class="col-md-6">

                    <div class="project__wrapper">
                        {{ assets:hero_image }}<img src="{{ url }}" alt="{{ alt }}"/>{{ /assets:hero_image }}
                        <div class="project__overlay">
                           <h2>{{ title }}</h2>
                           <a class="project__info" href="{{ url }}">View project</a>
                        </div>
                    </div>

                </div>
            {{ if index|%:2 == 0 && index != 0 || last }}</div>{{ endif }}
        {{ /posts }}

        {{ paginate }}
            {{ if total_pages > 1 }}
                <div class="row text-xs-center">
                    {{ if current_page > 1 }}
                        <a href="{{ prev_page }}">&larr; Previous</a>
                    {{ endif }}
                    &nbsp;&nbsp;&nbsp;
                    {{ current_page }} of {{ total_pages }}
                    &nbsp;&nbsp;&nbsp;
                    <a href="{{ next_page }}">Next &rarr;</a>
                </div>
            {{ endif }}
        {{ /paginate }}

    {{ /collection:projects }}

    <div class="row">
        <div class="col-xs-12 text-xs-center">
            <br><br>
            <p>Other websites I have worked on...</p>
        </div>
    </div>

    {{ collection:sites sort="order:asc"}}
        {{ if index|%:2 == 1 || index == 0 }}<div class="row text-xs-center">{{ endif }}
            <div class="col-md-6">

                <a href="{{ site_url }}" target="_blank">{{ title }}</a>

            </div>
        {{ if index|%:2 == 0 && index != 0 || last }}</div>{{ endif }}
    {{ /collection:sites }}
</div>

