/*#home {
  color: #fff;
  background-image: url(../img/desk.jpg);
  background-position: center;
  
  //background-image: url(../img/1700x1100.gif);
  //background-image: url(../img/1.jpg); 
  .fade-out {
	  background: $slate;
	}
}*/