#social {
	.tiles { 
		li {
	    float: left;
	    width: 16.5%;
	    text-align: center;
	    padding: 60px 0;

	    i {
	      font-size: 70px;
	      color: #E8E8E8;
	    }

	    &:hover {
	      background: $slate;
	      @include transition();

	      i {
	        color: #FFF;
	        @include transition();
	      }
	    }
	  }
	  .right-b {
    	border-right: 1px solid #eee;
		}

		.top-b {
		  border-top: 1px solid #eee;
		}
	}
}