#contact {
  padding: 110px 0 70px !important;

  .contact-info {
    i {
      margin-right: 20px;
      color: #262626;
      font-size: 18px;
      min-width: 15px;
      color: $slate;
    }

    font-size: 13px;
    color: $slate;
    margin-bottom: 55px;

    a {
      text-decoration: none;
    }
  }

  // Contact Forms
  input:focus, select:focus, textarea:focus, button:focus {
    outline: none;
  }

  .contactform {
    margin: 0 -15px;

    input, textarea {
      width: 100%;
      display: block;
      margin-bottom: 20px;
      @include border-radius(2px);
      background-color: transparent;    
      color: #676666;
      font-family: 'Raleway', sans-serif;
      font-size: 12px;
      padding: 15px;
      border: 1px solid $slate;

      &:focus {
        background-color: #fff;
        @include transition();
      }
    }

    textarea {
      min-height: 150px;
      max-width: 100%;
      resize: none;
    }
    button {
      color: #fff;
      display: inline-block;
      cursor: pointer;
      padding: 10px 20px;
      background-color: $slate;
      @include border-radius(2px);
      border: none;
      font-size: 11px;
      font-family: 'Raleway', sans-serif;
      border: 1px solid $slate;
      @include transition();
      &:hover {
        color: #676666;
        background-color: #fff;
      }
    }
  }

  input.error, textarea.error {
    border: 1px solid #fff;
  }

}// END #contact

#success-message, #error-message {
  display: none;
  text-align: center;
}