@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
  .parallax {
    background-attachment: scroll !important;
    background-position: center top !important;
    background-size: cover !important;
  }
}

@media only screen and (max-width: 1024px) {
  #main-menu {
    top: 0 !important;
  }
}

@media only screen and (max-width: 991px) {
  .parallax {
    background-attachment: scroll !important;
  }

  .tiles li {
    width: 50%;
    border: none !important;
    border-right: 1px solid #eee !important;
    padding: 30px !important;
  }
    
  .mc-field-group input[type="email"] {
    font-size: 13px !important;
  }

  #post-nav, section#comments {
    padding-left: 0 !important;
  }

  .tiles li:last-child {
    border-right: none !important;
  }

  #portfolio-items {
    .item {
      width: 33.3% !important;
      margin: 0 !important;
    }
  }
  .heading-light {
    font-size: 48px;
  }

}


@media only screen and (max-width : 767px) {
  .parallax {
    background-attachment: scroll !important;
    background-position: center top !important;
    background-size: cover !important;
  }

  .medium-1 {
    font-size: 15px;
    line-height: 25px;
  }
  
  .medium-2 {
    font-size: 25px;
    line-height: 35px;
  }
    
  .line {
    display: none;
  }

  #portfolio-items {
    .item {
      width: 50% !important;
      margin: 0 !important;
    }
  }

  .column {
    margin-bottom: 30px;
  }
  .heading-light {
    font-size: 48px;
  }
}

@media only screen and (max-width : 540px) {
  #header-title-1 h2 {
    font-size: 20px !important;
    padding: 10px !important;
  }

  .tiles li {
    width: 50% !important;
    padding: 20px !important;
    border-bottom: 1px solid #eee !important;
  }

  .tiles li:nth-child(2n+2) {
    border-right: none !important;
  }

   .tiles li:nth-last-child(-n+2) {
    border-bottom: none !important;
  }

  .heading-light {
    font-size: 48px
  }

  input, textarea, button {
    font-size: 16px!important;
  }
}