<footer class="site-footer">
    <div class="row">
        <div class="col-md-6 push-md-6 text-md-right text-xs-center">
            <ul>
                <li>
                    <a href="https://twitter.com/C_FitzMaurice" target="_blank">
                        <svg class="footer-icon">
                            <use xlink:href="/site/themes/fitz/svg/sprite.svg#twitter"></use>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/colinfitzmaurice" target="_blank">
                        <svg class="footer-icon">
                            <use xlink:href="/site/themes/fitz/svg/sprite.svg#linkedin"></use>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="https://github.com/c-fitzmaurice" target="_blank">
                        <svg class="footer-icon">
                            <use xlink:href="/site/themes/fitz/svg/sprite.svg#github"></use>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="https://codepen.io/c_fitzmaurice/" target="_blank">
                        <svg class="footer-icon">
                            <use xlink:href="/site/themes/fitz/svg/sprite.svg#codepen"></use>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="https://dribbble.com/C_FitzMaurice" target="_blank">
                        <svg class="footer-icon">
                            <use xlink:href="/site/themes/fitz/svg/sprite.svg#dribbble"></use>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/c_fitzmaurice/" target="_blank">
                        <svg class="footer-icon">
                            <use xlink:href="/site/themes/fitz/svg/sprite.svg#instagram"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-md-6 pull-md-6 text-md-left text-xs-center">&copy; Fitz Creative, LLC. {{ current_date format='Y' }}</div>
    </div>
</footer>