<header>
    <div class="row text-center">
        <div class="col-xs-12 text-xs-center">
            <a class="logo-link" href="/">
                <svg id="logo">
                    <use xlink:href="/site/themes/fitz/svg/sprite.svg#fitz"></use>
                </svg>
            </a>
        </div>
    </div>

    <a id="menulink" href="#">
        <div class="hamburger-wrapper">
            <div class="hamburger"></div>
            <div class="hamburger"></div>
            <div class="hamburger"></div>
        </div>
    </a>
    <div class="navigation-wrapper">
        <ul class="navigation">
            {{ nav from="/" include_home="true" scope="tag" }}
                <li{{ if is_current or is_parent }} class="active"{{ /if }}>
                    <a href="{{ url }}">{{ tag:nav_title or title }}</a>
                </li>
            {{ /nav }}
        </ul>
    </div>
</header>