<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Colin Fitz-Maurice is a Laravel Developer with a Frontend Focus, working for @Goodworld and living in Philadelphia.">
        <meta name="format-detection" content="telephone=no">
        <title>{{ title }} | {{ site_name.site_name }}</title>
        <!-- Styles -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" integrity="sha384-2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ theme:css }}">
        <!-- Favicon & Touch Icon -->
        <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/apple-touch-icon.png">
        <link rel="icon" type="image/png" href="/assets/img/favicon-32x32.png" sizes="32x32">
        <link rel="icon" type="image/png" href="/assets/img/favicon-16x16.png" sizes="16x16">
        <link rel="manifest" href="/assets/img/manifest.json">
        <link rel="mask-icon" href="/assets/img/safari-pinned-tab.svg" color="#465058">
        <link rel="shortcut icon" href="/assets/img/favicon.ico">
        <meta name="msapplication-config" content="/assets/img/browserconfig.xml">
        <meta name="theme-color" content="#ffffff">
        <!-- Facebook Open Graph -->
        <meta property="og:type" content="article">
        <meta property="og:title" content="{{ title }}">
        <meta property="og:description" content="{{ description|safe_truncate:140:... }}">
        <meta property="og:site_name" content="Colin Fitz-Maurice">
        <meta property="og:url" content="{{ current_url }}">
        <meta property="og:image" content="https://fitz-maurice.com/assets/img/fitz_social_media.png">
        <meta property="og:image:width" content="1024">
        <meta property="og:image:height" content="1024">
        <meta property="article:published_time" content="{{ date format="Y-m-d" }}">
        <meta property="article:author" content="https://www.facebook.com/colin.fitz.maurice">
        <!-- Twitter Cards -->
        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="@c_fitzmaurice">
        <meta name="twitter:title" content="{{ title }}">
        <meta name="twitter:description" content="{{ description|safe_truncate:140:... }}">
        <meta name="twitter:image" content="https://fitz-maurice.com/assets/img/fitz_social_media.png">
        <!-- Google Analytics -->
        {{ if environment === "prod" }}
            {{ google_analytics }}
        {{ endif }}

        <!-- Extra Stack -->
        {{ yield:stack }}
    </head>
    <body class="{{ title }}">
        <div class="sticky-page container">
            {{ partial:nav }}

            {{ template_content }}

            {{ partial:footer }}
        </div>

        <!-- Scripts -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js" integrity="sha384-THPy051/pYDQGanwU6poAc/hOdQxjnOEXzbT+OuUAFqNqFjL+4IGLBgCJC3ZOShY" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js" integrity="sha384-Plbmg8JY28KFelvJVai01l8WyZzrYWG825m+cZ0eDDS1f7d/js6ikvy1+X+guPIB" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/js/bootstrap.min.js" integrity="sha384-VjEeINv9OSwtWFLAtmc4JCtEJXXBub00gtSnszmspDLCtC0I4z4nqz7rEFbIZLLU" crossorigin="anonymous"></script>
        <script src="{{ theme:js }}"></script>
    </body>
</html>