@import 'https://fonts.googleapis.com/css?family=Lato';
body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  border-top: 6px solid #465058;
  color: #909090; }

body.home {
  border: 6px solid #465058;
  height: 100%;
  width: 100%; }

a {
  color: #465058;
  font-weight: bold; }
  a:hover, a:active, a:focus {
    color: #465058;
    text-decoration: underline; }

.sticky-page {
  height: 100%; }

.sticky-wrap {
  min-height: 100%;
  margin-bottom: -40px; }
  .sticky-wrap:after {
    content: "";
    display: block;
    height: 40px; }

#home-logo {
  width: 100%;
  padding-top: 15px; }

#logo {
  margin-top: 3em; }

h1 {
  color: #465058;
  margin-top: 1.25em;
  margin-bottom: 1.25em;
  font-size: 40px;
  font-size: 2.5rem; }

.body-copy > p {
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 18px;
  font-size: 1.125rem; }
  .body-copy > p p > img {
    max-width: 100%;
    height: auto; }

.avatar {
  display: block;
  width: 35%;
  margin: 0 auto;
  border-radius: 50%;
  border: 4px solid #EEEEEE; }

.hamburger-wrapper {
  padding: 0;
  position: fixed;
  top: 20px;
  right: 25px;
  width: 25px;
  z-index: 999; }
  .hamburger-wrapper .hamburger {
    height: 3px;
    margin: 4px auto;
    background: #465058;
    border-radius: 2px; }

.navigation-wrapper {
  padding: 40px 0 0 0;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  z-index: 900;
  display: none;
  background-color: transparent;
  -webkit-transition: all 1s linear;
  transition: all 1s linear; }

.navigation {
  padding: 20px 25px 0 0;
  display: none; }

.show-menu {
  display: block;
  background-color: rgba(70, 80, 88, 0.25); }

.navigation li {
  list-style: none;
  margin: 50px 0;
  transition: all ease .5s;
  -webkit-transition: all ease .5s; }

.navigation li.small-padding {
  margin: 0; }

.navigation li a {
  display: block;
  padding: 2px 5px;
  color: #465058;
  text-decoration: none;
  text-align: right;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-right: 3px solid #EEEEEE;
  transition: all ease .3s;
  -webkit-transition: all ease .3s; }

.navigation li a:hover {
  padding-right: 15px;
  border-right: 3px solid #465058; }

input,
textarea {
  resize: none;
  outline: none; }

.spam {
  display: none; }

.form-control:focus {
  border-color: #465058; }

.btn-primary {
  background-color: #465058;
  border-color: #465058; }

.resume section {
  margin-top: 1em;
  margin-bottom: 1em; }

.resume h2, .resume .dates {
  color: #465058;
  margin-top: 0.5em;
  margin-bottom: 0.5em; }

.resume h3 {
  font-size: 18px;
  font-size: 1.125rem;
  font-style: italic; }

.resume a {
  border-top: 1px solid #EEEEEE;
  padding-top: 0.5em;
  margin-top: 1em;
  display: inline-block; }

footer.site-footer {
  height: 40px;
  line-height: 40px;
  color: #465058; }
  footer.site-footer ul {
    height: 40px;
    margin: 0;
    padding: 6px 0 0 0; }
    footer.site-footer ul li {
      display: inline;
      list-style-type: none; }
      footer.site-footer ul li a {
        height: 30px;
        text-decoration: none; }
        footer.site-footer ul li a svg.footer-icon {
          height: 30px;
          width: 30px;
          fill: #465058; }
        footer.site-footer ul li a:hover {
          text-decoration: none; }
          footer.site-footer ul li a:hover svg {
            transform: translateY(-5px);
            -webkit-transform: translateY(-5px); }
  footer.site-footer.top-border {
    margin-top: 30px;
    border-top: 2px solid #465058; }

@media only screen and (max-width: 544px) {
  .sticky-wrap {
    min-height: 100%;
    margin-bottom: -80px; }
    .sticky-wrap:after {
      content: "";
      display: block;
      height: 80px; }
  .navigation-wrapper {
    width: 60%; }
  footer.site-footer {
    height: 80px; } }

@media (min-width: 544px) {
  .navigation-wrapper {
    width: 60%; } }

@media (min-width: 768px) {
  .navigation-wrapper {
    width: 45%; } }

@media (min-width: 992px) {
  .navigation-wrapper {
    width: 45%; } }

@media (min-width: 1200px) {
  .navigation-wrapper {
    width: 30%; } }

/*# sourceMappingURL=fitz.css.map */
